:root {
    --cor-primaria: #0084ff;
    --cor-btns: #0072dd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #1f1f21;
    transition: background .2s linear;
}

body.light {
    background-color: #bbb;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    margin: 0 auto;
}

header .logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

header .logo a {
    display: flex;
    width: 80px;
}

header .logo a img:first-child {
    width: 60px;
    position: relative;
    left: -10px;
}

header .logo a img:last-child {
    width: 56px;
    height: 56px;
    position: relative;
    right: 28px;
    top: 3px;
}

header nav {
    display: flex;
    column-gap: 2rem;
    margin-right: 2rem;
}

header nav #btn-mobile {
    display: none;
    color: #eee;
}

#btn-mobile.light {
    color: #0d0d0e;
}

.label-mode.light {
    transition: 0.2s;
    background-color: #111;
}

.label-mode .bola.light {
    transition: 0.2s;
    background-color: #fff;
}

@media (max-width: 700px) {
    header nav #menu {
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        visibility: hidden;
        overflow-y: hidden;
        position: absolute;
        right: 2rem;
        top: 70px;
        width: 180px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        overflow: hidden;
        z-index: 10;
    }

    #nav.active #menu {
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header nav #btn-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0.1rem;
        font-size: 1.35rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        font-weight: 500;
        margin-top: 5px;
    }

    #hamburger {
        border-top: 2.2px solid;
        width: 20px;
        margin-top: 3.6px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2.2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    header nav .label-mode {
        top: 13px;
        right: 5px;
    }
}

header nav .checkbox-mode {
    opacity: 0;
    position: absolute;
}

header nav .label-mode {
    background-color: #eee;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.4);
}

header nav .label-mode .bola {
    background-color: #1f1f21;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

header nav .checkbox-mode:checked+.label-mode .bola {
    transform: translateX(24px);
}

header nav .fa-moon {
    color: #f1c40f;
}

header nav .fa-sun {
    color: #ff8800;
}

header nav #menu {
    display: flex;
    column-gap: 2rem;
}

header nav ul li a {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}

header nav ul li a:hover {
    color: var(--cor-primaria);
    transition: all ease 0.4s;
}

header nav ul li a.ativo {
    color: var(--cor-primaria);
}

main {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}

main .container-inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78vh;
    min-height: 320px;
    position: relative;
    bottom: 10px;
}

main .container-inicio .informacoes h1 {
    color: white;
    font-size: 3rem;
}

main .container-inicio .informacoes h3 {
    background: linear-gradient(to right, var(--cor-primaria), #6ebeff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

#fs-gradient.light {
    background: linear-gradient(to right, var(--cor-primaria), #004781);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

main .container-inicio .informacoes p {
    color: white;
    font-size: 1.2rem;
    margin-top: 10px;
}

main .container-inicio .informacoes p span {
    color: var(--cor-primaria);
    font-weight: 500;
}

main .container-inicio .informacoes .btns {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
}

main .container-inicio .informacoes .btns button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--cor-btns);
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    width: 140px;
}

main .container-inicio .informacoes .btns #btn-modal {
    background-color: var(--cor-primaria);
}

main .container-inicio .informacoes button:hover {
    filter: brightness(0.8);
    transition: ease 0.3s;
    cursor: pointer;
}

.container-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2;
}

.container-modal #fechar-modal {
    position: relative;
    top: 8px;
    left: 202px;
    padding: 4px;
    color: white;
    width: 25px;
    cursor: pointer;
}

.container-modal #fechar-modal:hover {
    filter: brightness(60%);
    transition: 0.3s;
}

.container-modal form {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    align-items: center;
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
    width: 450px;
    height: 420px;
    margin: 0 auto;
    color: white;
}

.container-modal form h2 {
    font-weight: 500;
}

.container-modal form label {
    font-size: 1.2rem;
    width: 60%;
    margin-top: 10px;
}

.container-modal form input,
.container-modal form textarea {
    font-size: 1.1rem;
    width: 60%;
    border: none;
    border-radius: 8px;
    padding: 7px;
    background-color: rgb(70, 70, 70);
    color: white;
    resize: none;
    outline: 0;
}

.container-modal form input:focus,
.container-modal form textarea:focus {
    box-shadow: 0px 0px 1px 3px var(--cor-primaria);
}

.container-modal form input::placeholder,
.container-modal form textarea::placeholder {
    color: #bbb;
}

.container-modal .btns-modal {
    display: flex;
    column-gap: 15px;
    margin-top: 1rem;
}

.container-modal .btns-modal button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--cor-btns);
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    width: 125px;
}

.container-modal .btns-modal button:last-child {
    background-color: #861f1f;
}

.container-modal form span {
    position: relative;
    top: 5px;
    color: var(--cor-primaria);
    display: none;
}

.container-inicio .informacoes .contatos {
    display: flex;
    column-gap: 1rem;
    margin-top: 1.2rem;
}

.container-inicio .informacoes .contatos img {
    width: 35px;
}

.container-inicio .informacoes .contatos img:hover {
    transition: 0.4s;
    scale: 1.1;
}

.foto img {
    width: 320px;
    border-radius: 50%;
    margin-left: 1rem;
}

main .container-sobre {
    margin: 0 auto;
    margin-top: 8vh;
    color: white;
}

main .container-sobre h1 {
    font-size: 2rem;
}

main .container-sobre p {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: justify;
    line-height: 1.3;
}

main .container-tecnologias {
    margin: 0 auto;
    margin-top: 10vh;
}

main .container-tecnologias h1 {
    color: white;
    font-size: 2rem;
}

main .tecnologias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    column-gap: 1.2rem;
    row-gap: 2.2rem;
    margin-top: 1.2rem;

}

main .container-tecnologias img {
    width: 80px;
}

main .tecnologias .box {
    position: relative;
}

main .tecnologias #descricao-tech {
    position: absolute;
    left: -6px;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    color: black;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 5px;
    width: 95px;
    text-align: center;
}

main .tecnologias .box:hover #descricao-tech {
    opacity: 1;
    visibility: visible;
    display: block;
    transition: 1s;
}

main .tecnologias .box:hover {
    scale: 1.05;
    transition: 0.3s;
}

main .sessao-projetos {
    margin-top: 10vh;
    margin-bottom: 3rem;
    color: white;
}

main .sessao-projetos h1 {
    font-size: 2rem;
}

main .container-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2.5rem;
    margin-top: 1.5rem;
}

main .projeto {
    filter: brightness(0.92);
    /* background-color: #2ecc71; */
    overflow: hidden;
}

main .projeto:hover {
    transition: 0.4s;
    filter: brightness(1);
}

main .projeto #img-projeto {
    border-radius: 5px;
    width: 100%;
    transition: 0.3s transform ease-in-out;
}

main .projeto:hover>#img-projeto {
    transform: scale(1.025);
}

main .projeto .tecnologias-projeto {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 10px;
}

main .projeto .tecnologias-projeto img {
    width: 25px;
}

main .projeto h3 {
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main .projeto p {
    margin-top: 10px;
}

main .projeto .btns-projeto {
    display: flex;
    column-gap: 1rem;
    margin-top: 10px;
    margin-bottom: 4px;
}

main .projeto .btns-projeto button {
    font-size: 1rem;
    padding: 8px 10px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-btns);
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

main .projeto .btns-projeto button:hover {
    filter: brightness(.85);
}

main .projeto .btns-projeto #btn-codigo {
    box-shadow: 0px 0px 2px 2px var(--cor-primaria);
    background-color: transparent;
}

main .projeto .btns-projeto #btn-codigo:hover {
    box-shadow: 0px 0px 3px 3px var(--cor-primaria);
}

main .projeto .btns-projeto img {
    width: 25px;
    margin-left: 5px;
}

main .projeto .btns-projeto #img-git {
    width: 22px;
}

main .inicio {
    position: fixed;
    bottom: 20px;
    right: -500px;
    transition: 0.4s all;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

main .inicio img {
    width: 70px;
}

.show-button .inicio {
    right: 20px;
}

footer .container-rodape {
    width: 100%;
    background: linear-gradient(to bottom, #1f1f21, #0d0d0e);
    color: white;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    padding: 20px;
}

.container-rodape.light {
    background: linear-gradient(to bottom, #bbb, #919192);
}

footer .container-rodape h2 {
    margin-top: 1rem;
    color: var(--cor-primaria);
    font-weight: 500;
    width: 85%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
}

footer .container-rodape h3 {
    margin-bottom: 3.1rem;
    font-weight: 500;
    width: 85%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
}


.foto-mobile {
    display: none;
}

.foto-mobile img {
    width: 18rem;
    border-radius: 50%;
}


@media (max-width: 850px) {
    main .container-inicio {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 3rem;
        gap: 10px;
    }

    .foto-mobile {
        display: block;
    }

    .foto {
        display: none;
    }

    .container-rodape h2,
    .container-rodape h3 {
        font-size: 1.1rem;
    }

    .container-modal form {
        width: 320px;
    }

    .container-modal #fechar-modal {
        left: 142px;
    }

    .container-modal form label,
    .container-modal form textarea {
        width: 70%;
        font-size: 1rem;
    }

    .container-modal form input {
        width: 70%;
        font-size: 0.94rem;
    }

    .container-modal .btns-modal button {
        width: 105px;
    }
}

@media (max-width: 450px) {
    #fs-gradient {
        font-size: 1.18rem;
    }

    main .container-inicio .informacoes h1 {
        font-size: 2rem;
    }

    main .container-inicio .informacoes p {
        font-size: 1.05rem;
    }

    header nav ul li a:hover {
        color: white;
        transition: 0s;
    }

    footer .container-rodape h2,
    footer .container-rodape h3 {
        display: inline;
        /* justify-content: center; */
    }
}